.clearfix:after{
  content:""; 
  display:block; 
  clear:both;
}

.m-detail-container {
  width: 90%;
  margin: 5% auto;
  background: #121212; }

.m-item-content {
  margin-bottom: 30px; }
  .m-item-content .word-box {
    padding-top: 115px; }
    .m-item-content .word-box .word-tip {
      font-size: .38em;
      color: #fff;
      text-align: center; }
    .m-item-content .word-box .word-banner-text {
      margin-top: 10px;
      font-size: .9em;
      color: #fff;
      text-align: center; }
    .m-item-content .word-box .word-desc {
      margin-top: 40px;
      font-size: .38em;
      color: #999; }
      .m-item-content .word-box .word-desc .word-desc-item {
        text-align: center;
        line-height: 1.7;
        margin-top: 5px; }
    .m-item-content .word-box .word-param {
      margin-top: 45px;
      text-align: center; }
      .m-item-content .word-box .word-param .word-param-item {
        margin: 0 20px;
        display: inline-block;
        color: #999; }
        .m-item-content .word-box .word-param .word-param-item .value {
          font-size: .56em;
          display: block;
          padding-bottom: 5px;
          text-align: center;
          font-weight: normal; }
        .m-item-content .word-box .word-param .word-param-item .label {
          font-size: .38em;
          display: block;
          text-align: center;
          /*margin-top: 5px;*/ }
  .m-item-content .banner-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .m-item-content .banner-box.mt80 {
      margin-top: 60px; }
    .m-item-content .banner-box.pdl15 {
      padding-left: 15px; }
    .m-item-content .banner-box.pdr15 {
      padding-right: 15px; }
    .m-item-content .banner-box.pdl180 {
      padding-left: 180px; }
    .m-item-content .banner-box.pdr180 {
      padding-right: 180px; }
    .m-item-content .banner-box.pdl100 {
      /*padding-left: 100px;
      padding-left: 7%;*/ }
    .m-item-content .banner-box.pdr100 {
      /*padding-right: 100px;
      padding-right: 7%;*/ }
    .m-item-content .banner-box.pdt15 {
      padding-top: 15px; }
    .m-item-content .banner-box .banner-fix-1 {
      width: 100%; }
    .m-item-content .banner-box .banner-fix-2 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
         -moz-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin-right: 10px; }
      .m-item-content .banner-box .banner-fix-2:last-child {
        margin-right: 0; }
    .m-item-content .banner-box .banner-item {
      position: relative; }
  .m-item-content .banner-box .banner-item img{
    width: 100%;  
   }
      .m-item-content .banner-box .banner-item .inImg {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto; }
      .m-item-content .banner-box .banner-item .outImg {
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 10;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        display: block;
        height: 85%;
        width: auto; }
      .m-item-content .banner-box .banner-item .i-title {
        font-size: .38em;
        color: #999;
        text-align: center;
        margin-top: 10px; }

.m-item2-content {
  padding-top: 100px; }
.m-item2-content .m-video2-list{
 padding-left: 15%;
  padding-right: 15%;
}
.m-video2-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .m-video2-list .video2-item {
    width: 32.5%;
    margin-right: 1.25%; }
    .m-video2-list .video2-item:nth-child(3n+0) {
      margin-right: 0; }
    .m-video2-list .video2-item .video2-info {
      padding: 10px; }
      .m-video2-list .video2-item .video2-info .title {
        font-size: .5em;
        color: #fff;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .m-video2-list .video2-item .video2-info .des {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        color: #fff;
        font-size: .38em;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }
    .m-video2-list .video2-item .video {
      margin-top: 20px; }
      .m-video2-list .video2-item .video .video-img {
        display: block;
        width: 100%; }
 .video_wrap{
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .video_wrap video{
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }



.m-item3-content {
  padding-top: 100px; }
  .m-item3-content .title {
    text-align: center;
    color: #fff;
    font-size: .9em; }
  .m-item3-content .hrd-intro-box {
    margin-top: 40px;
    text-align: center; }
    .m-item3-content .hrd-intro-box .hrd-intro-item {
      display: inline-block;
      /*margin: 0 5% 0 10%;*/
      border: 1px solid transparent;
      cursor: pointer; }
    .m-item3-content .hrd-intro-box .hrd-intro-item:nth-of-type(2){
      margin: 0 10% 0 5%;
    }
      .m-item3-content .hrd-intro-box .hrd-intro-item:hover .info .des {
        color: #dc1254; }
      .m-item3-content .hrd-intro-box .hrd-intro-item:hover .icon.icon-lut .img{
        display: none; }
        .m-item3-content .hrd-intro-box .hrd-intro-item:hover .icon.icon-lut .imgd{
        display: block; }
      .m-item3-content .hrd-intro-box .hrd-intro-item:hover .icon.icon-hdr {
        background: url("../image/img-hdr-a.png");
        background-size: 100% 100%; }
      .m-item3-content .hrd-intro-box .hrd-intro-item .icon {
        margin: 0 auto;
        width: 56px;
        height: 56px; }
        .m-item3-content .hrd-intro-box .hrd-intro-item .icon.icon-lut .img{
          width: 100%;
          display: block;}
          .m-item3-content .hrd-intro-box .hrd-intro-item .icon.icon-lut .imgd{
          width: 100%;
          display: none;}
        /*.m-item3-content .hrd-intro-box .hrd-intro-item .icon.icon-hdr {
          background: url("../image/img-hdr.png");
          background-size: 100% 100%; }*/
      .m-item3-content .hrd-intro-box .hrd-intro-item .info {
        margin-top: 20px; }
        .m-item3-content .hrd-intro-box .hrd-intro-item .info .des {
          text-align: center;
          font-size: .24em;
          line-height: 1.6;
          color: #fff;}
  .m-item3-content .hrd-pic-compare {
    position: relative; }
    .m-item3-content .hrd-pic-compare .pre-pic {
      position: relative;
      overflow: hidden; }
      .m-item3-content .hrd-pic-compare .pre-pic .pic {
        display: block;
        cursor: 
        width: ; }
        .m-item3-content .hrd-pic-compare .pre-pic .pic img {
          display: block;
          width: 100%; }
      .m-item3-content .hrd-pic-compare .pre-pic .tip {
        position: absolute;
        right: 50px;
        bottom: 40px;
        padding: 5px 20px;
        white-space: nowrap;
        border-radius: 20px;
        background: #fff;
        color: #666;
        font-size: .38em; }
    .m-item3-content .hrd-pic-compare .next-pic {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;}
      .m-item3-content .hrd-pic-compare .next-pic:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(50%, -50%);
                transform: translate(50%, -50%);
        height: 100%;
        width: 30px;
        height: 30px;
        background: #fff url("../image/icon-move.png");
        background-size: 100% 100%;
        border-radius: 30px; }
        .m-item3-content .hrd-pic-compare .pre-pic i{
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(50%, -50%);
                  transform: translate(50%, -50%);
          height: 100%;
          width: 30px;
          height: 30px;
          background: #fff url("../image/icon-move.png");
          background-size: 100% 100%;
          border-radius: 30px; 
        }
      .m-item3-content .hrd-pic-compare .next-pic .pic {
        display: block;
        overflow: hidden;
        height: 100%;
        width: 100%; }
        .m-item3-content .hrd-pic-compare .next-pic .pic img {
          display: block;
          height: 100%;
          width: auto; }
      .m-item3-content .hrd-pic-compare .next-pic .tip {
        position: absolute;
        left: 50px;
        bottom: 40px;
        white-space: nowrap;
        padding: 5px 20px;
        border-radius: 20px;
        background: #FB0038;
        color: #fff;
        font-size: .38em; }




.m-item11-content{
  width: 100%;
  padding-top: 180px;
  padding-left: 15%;
  padding-right: 15%;
}
.m-item11-content .ztxt{
  width: 100%;
  /*padding-right: 145px;*/
  float: none;
  position: relative;
}
.m-item11-content .ztxt .title{
  font-size: .9em;
  color: #fff;
  width: 50%;
}
.m-item11-content .ztxt .desc{
  font-size: .38em;
  color: #999;
  width: 40%;
  padding-top: 50px;
  line-height: 1.7;
  float: left;
  padding-right: 40px;
}
.m-item11-content .img_warp{
  display: block;
  width: 100%;
  float: none;
  margin-bottom: 80px;
}
.m-item11-content .d_list{
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
.m-item11-content .d_list .item{
  width: 50%;
  margin-bottom: 30px;
}
.m-item11-content .d_list .item .val{
  font-size: .64em;
  margin-bottom: 5px;
  color: #999;
}
.m-item11-content .d_list .item .name{
  font-size: .38em;
  color: #999;
}


.m-item12-content{
  padding-top: 150px;
  width: 100%;
}
.m-item12-content .img_warp{
  float: left;
  width: 47%;
}
.m-item12-content .ztxt{
  padding-left: 47px;
  float: left;
  width: 35%;
}
.m-item12-content .ztxt .title{
  font-size: .9em;
  color: #fff;
}
.m-item12-content .ztxt .desc{
  font-size: .38em;
  color: #999;
  padding-top: 50px;
  line-height: 1.7;
}



@media screen and (max-width: 2880px) and (min-width: 2520px){
  .m-item-content .word-box{
    padding-top: 230px;
  }
  .m-item-content .word-box .word-tip{
    padding-bottom: 30px;
  }
  .m-item-content .word-box .word-banner-text{
    padding-bottom: 70px;
  }
  .m-item-content .word-box .word-desc{
    padding-bottom: 150px;
  }
  .m-item-content .banner-box .banner-fix-2{
    margin-right: 35px;
  }
  .m-item-content .word-box .word-param{
    margin-top: 0;
  }
  .m-item-content .banner-box.mt80{
    margin-top: 172px;
  }
  .m-item11-content{
    padding-top: 274px;
  }
  .m-item11-content .ztxt{
    /*padding-right: 190px;*/
  }
  .m-item11-content .ztxt .desc{
    padding-top: 88px;
  }
  .m-item11-content .d_list .item{
    margin-bottom: 50px;
  }
  .m-item11-content .img_warp{
    margin-bottom: 120px;
  }
  .m-item12-content{
    padding-top: 260px;
  }
  .m-item12-content .ztxt{
    padding-left: 70px;
  }
  .m-item3-content{
    padding-top: 270px;
  }
  .m-item3-content .hrd-intro-box .hrd-intro-item .icon{
    width: 108px;
    height: 108px;
  }
  .m-video2-list .video2-item .video2-info .des{
    margin-top: 48px;
  }
  .m-item3-content .hrd-intro-box{
    margin-top: 132px;
  }
  .m-item-content .word-box .word-param .word-param-item .value{
    padding-bottom: 10px;
  }
  .m-item-content .word-box .word-param .word-param-item{
    margin: 0 40px;
  }
  .m-item3-content .hrd-pic-compare .next-pic:after{
    width: 60px;
    height: 60px;
  }
}




@media screen and (max-width: 2519px) and (min-width: 2000px){

}



@media screen and (max-width: 1560px) and (min-width: 1050px){
  .m-item-content .banner-box.pdr180{
    padding-right: 130px;
    padding-left: 130px;
  }
  

}



@media screen and (max-width: 1049px) and (min-width: 768px){
  .m-item-content .banner-box.pdr180{
    padding-right: 50px;
    padding-left: 50px;
  }
  .m-item11-content{
    padding-top: 120px;
    padding-right: 8%;
    padding-right: 8%;
  }
  .m-item11-content .ztxt{
    /*padding-right: 50px;*/
  }
  .m-item11-content .d_list .item{
    margin-bottom: 20px;
  }
  .m-item12-content .ztxt{
    width: 45%;
  }
  .alert_close{
    bottom: 50px;
    width: 30px;
    height: 30px;
  }
}


@media screen and (max-width: 767px){
  .m-item-content .word-box{
    padding-top: 1.5rem;
  }
  .m-item-content .word-box .word-tip{
    font-size: .555rem;
  }
  .m-item-content .word-box .word-banner-text{
    font-size: .768rem;
  }
  .m-item-content .word-box .word-desc{
    margin-top: 1rem;
  }
  .m-item-content .word-box .word-desc .word-desc-item{
    padding-left: .64rem;
    padding-right: .64rem;
  }
  .m-item-content .banner-box.mt80{
    margin-top: 1.5rem;
  }
  .m-item-content .banner-box.pdr180{
    padding-right: .64rem;
    padding-left: .64rem;
  }
  .m-item11-content{
    padding-left: .64rem;
    padding-right: .64rem;
    padding-top: 1.5rem;
  }
  .m-item11-content .ztxt{
    padding-right: .64rem;
  }
  .m-item11-content .ztxt .title{
    font-size: .853rem;
  }
  .m-item11-content .ztxt .desc{
    padding-top: .64rem;
  }
  .m-item11-content .d_list .item{
    margin-bottom: 1rem;
  }
  .m-item11-content .d_list .item .val{
    font-size: .768rem;
  }
  .m-item11-content .d_list .item .name{
    font-size: .555rem;
  }
  .m-item12-content{
    padding-top: 2.5rem;
  }
  .m-item12-content .img_warp{
    width: 95%;
  }
  .m-item12-content .ztxt{
    width: 100%;
    padding-left: .64rem;
  }
  .m-item12-content .ztxt .desc{
    padding-top: .64rem;
  }
  .m-item2-content{
    padding-top: 2.5rem;
  }
  .m-item2-content .m-video2-list{
    padding-left: 15%;
    padding-right: 15%;
  }
  .m-video2-list{
    padding-left: .64rem;
    padding-right: .64rem;
  }
  .m-video2-list .video2-item .video2-info{
    padding: 0 .2rem;
  }
  .m-video2-list .video2-item .video2-info .des{
    margin-top: .213rem;
    margin-bottom: .213rem;
  }
  .m-item3-content{
    padding-top: 2.5rem;
  }
  .m-item3-content .hrd-intro-box .hrd-intro-item{
    width: 45%;
    margin: 0;
  }
  .m-item3-content .hrd-intro-box{
    margin-top: .64rem;
  }
  .m-item3-content .hrd-intro-box .hrd-intro-item:nth-of-type(2){
    float: right;
    margin: 0;
  }
  .m-item3-content .hrd-intro-box .hrd-intro-item .icon{
    width: 1.5rem;
    height: 1.5rem;
  }
  .m-item3-content .hrd-intro-box .hrd-intro-item .info{
    margin-top: .64rem;
  }
  .m-item3-content .hrd-pic-compare{
    margin-top: 1rem !important;
  }
  .m-item11-content .img_warp{
    margin-bottom: .64rem;
    position: relative;
  }
  .m-item11-content .ztxt .desc{
    width: 100%;
    padding-right: 0;
  }
  .m-item11-content .d_list{
    width: 100%;
    position: relative;
    padding-top: 1rem;
  }
}